@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1,h2{
  text-transform: uppercase;
  @apply text-center py-3 px-4 m-auto w-3/5 bg-orange-500 rounded-xl m-2
}

main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */